<html>
	<h1>Timestamp Microservice</h1>
	<p>For the freeCodeCamp challenge over at <a href="https://www.freecodecamp.com/challenges/timestamp-microservice" target="_blank">https://www.freecodecamp.com/challenges/timestamp-microservice</a></p>
	<h3>Example Usage:</h3>
	<p>https://sheltered-mountain-95021.herokuapp.com/December%2015,%202015</p>
	<p>https://sheltered-mountain-95021.herokuapp.com/1450137600</p>
	<h3>Example Output:</h3>
	<p>{ "unix": 1450137600, "natural": "December 15, 2015" }</p>	
</html>